{% extends "layouts/app.html" %} {% block title %}Incidents{% endblock %} {%
block content %}

<div class="flex items-center justify-between mb-6">
  <div>
    <h1 class="text-3xl font-bold">Incidents</h1>
    <p class="text-base-content/60">Operational incident management</p>
  </div>

  <div class="flex gap-2">
    <a href="/export-incidents-csv" class="btn btn-outline btn-primary">
      Export CSV
    </a>

    <a href="/incidents/create" class="btn btn-primary"> + Add Incident </a>
  </div>
</div>

<div class="card bg-base-100 shadow-xl">
  <div class="card-body">
    <div class="overflow-x-auto">
      <form method="GET" class="flex gap-2 mb-4">
        <input
          type="text"
          name="q"
          value="{{ q }}"
          placeholder="Search asset..."
          class="input input-bordered w-64" />
        <input
          type="date"
          name="start_date"
          value="{{ start_date }}"
          class="input input-bordered" />

        <input
          type="date"
          name="end_date"
          value="{{ end_date }}"
          class="input input-bordered" />
        <button class="btn btn-primary">Search</button>

        {% if q or end_date or start_date %}
        <a href="/incidents" class="btn btn-outline">Clear</a>
        {% endif %}
      </form>
      <table class="table">
        <!-- HEADER -->
        <thead>
          <tr>
            {% if role == 0 %}
            <th>ID</th>
            {% endif %}
            <th>Created At</th>
            <!-- <th>Reported By</th> -->
            <!-- <th>Handled By</th> -->
            <th>Asset</th>
            <th>Category</th>
            <th>Severity</th>
            <th class="w-40">Status</th>
            <th>Action</th>
          </tr>
        </thead>

        <!-- BODY -->
        <tbody>
          {% for incident in incidents %}

          <tr>
            {% if role == 0 %}
            <td>{{ incident.id }}</td>
            {% endif %}
            <!-- CREATED AT -->
            <td>{{ incident.created_at }}</td>

            <!-- REPORTED BY -->
            <!-- <td>{{ incident.reported_by }}</td> -->

            <!-- HANDLED BY -->
            <!-- <td>{{ incident.handled_by_name }}</td> -->

            <!-- ASSET -->
            <td>{{ incident.asset_name }}</td>

            <!-- CATEGORY -->
            <td>{{ incident.category_name }}</td>

            <!-- SEVERITY -->
            <td>
              {% if incident.severity_level == 'SEV-1' %}
              <div class="badge badge-error text-black font-bold">SEV-1</div>

              {% elif incident.severity_level == 'SEV-2' %}
              <div class="badge badge-warning text-black font-bold">SEV-2</div>

              {% elif incident.severity_level == 'SEV-3' %}
              <div class="badge badge-info text-black font-bold">SEV-3</div>

              {% elif incident.severity_level == 'SEV-4' %}
              <div class="badge badge-success text-black font-bold">SEV-4</div>

              {% elif incident.severity_level == 'SEV-5' %}
              <div
                class="badge bg-gray-300 text-gray-900 font-bold whitespace-nowrap">
                SEV-5
              </div>

              {% else %}
              <div class="badge badge-outline">
                {{ incident.severity_level }}
              </div>
              {% endif %}
            </td>

            <!-- STATUS -->
            <td>
              {% if not incident.status %}
              <div class="badge badge-neutral">No Status</div>

              {% elif incident.status == 'Open' %}
              <div class="badge badge-error">Open</div>

              {% elif incident.status == 'In Progress' %}
              <div class="badge badge-warning">In Progress</div>

              {% elif incident.status == 'Resolved' %}
              <div class="badge badge-info">Resolved</div>

              {% elif incident.status == 'Closed' %}
              <div class="badge badge-success">Closed</div>

              {% else %}
              <div class="badge badge-outline">{{ incident.status }}</div>
              {% endif %}
            </td>

            <!-- ACTION -->
            <td class="flex gap-2">
              <!-- VIEW DETAIL -->
              <a
                href="/incidents/{{ incident.id }}"
                class="btn btn-info btn-sm">
                Detail
              </a>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
      <div class="flex justify-center mt-6 gap-2">
        {% if page > 1 %}
        <a href="/incidents?page={{ page - 1 }}&q={{ q }}" class="btn btn-sm">
          Prev
        </a>
        {% endif %}

        <span class="btn btn-sm btn-disabled">
          Page {{ page }} / {{ total_pages }}
        </span>

        {% if page < total_pages %}
        <a href="/incidents?page={{ page + 1 }}&q={{ q }}" class="btn btn-sm">
          Next
        </a>
        {% endif %}
      </div>
      
    </div>
  </div>
</div>
{% endblock %}
